#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.label {
  margin: 0 10px;
}

.number-input {
  width: 80px;
  display: inline-block;
  border-radius: 3px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
}

body {
  margin-top: 0px;
}

.number-input:focus {
  outline: none;
}

.label-input {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  h1 {
    margin-bottom: 40px;
  }
}


@media (min-width: 825px) {
  .label-input {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .buttons {
    display: inline-block;
  }
}


.button {
  margin-left: 8px;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 5px;
  padding: 4px;
}

.button:hover {
  border-top: 2px solid rgb(130, 130, 130);
  border-left: 2px solid rgb(130, 130, 130);
  border-bottom: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
}

.button:hover:active {
  border-bottom: 2px solid rgb(130, 130, 130);
  border-right: 2px solid rgb(130, 130, 130);
  border-top: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
}

.ok-button {
  padding: 4px 20px;
}